body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.663);
    font-size: 14px;
    padding: 0 10px;
    
}
h5{
    margin-bottom: 30px;
}
.custom-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    width: 481px;
    padding : 11px 16px;
    border-color: rgb(238, 234, 234);
    margin-bottom: 20px;
    border-radius: 10px;
}

.custom-input:hover {
    border-color: orange;
}
.custom-input:hover::placeholder {
    color: orange;
  }
.line{
    color: gray;
    display:flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size: 12px;
}
.line > span {
    padding: 20px;
}
.line > hr{
    flex: 1;
}
.cb {
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    margin-top: 12px;
    width: 481px;
    height: 51px;
    padding: 0 16px;

}

.box1 {
    border: 1px solid;
    border-radius: 17px;
    padding: 48px 36px;
    border-color: rgb(238, 234, 234);
    box-shadow: 0 0 5px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
}

.btn1 {
    background-color: orange;
    color: white;
    border-radius: 10px;
}

.btn1:hover {
    background-color: rgb(218, 141, 0);
}

.btn2 {
    background-color: white;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 10px;
}

.btn2:hover {
    border-color: orange;
}

.btn3 {
    background-color: white;
    border : 1px solid rgb(238, 234, 234);
    border-radius: 10px;
}

.btn3:hover {
    border-color: orange;
}
.logo_google{
    width: 40px;
    height: 25px;
    position: absolute;
    left: 10px;
}
.logo_kakao{
    width: 13px;
    height: 15px;
    position: absolute;
    left: 23px;
}

.hypertext {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}
.hypertext > a {
    font-size: 15px;
}
.hypertext a:not(:last-child) {
    border-right: 1px solid lightgray;
    padding-right: 15px;
}
