body {
  font-family: "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  min-height: 100vh;
  padding-left: 60px;
  padding-top: 30px;
}

.sidebar {
  width: 240px;
  height: 400px;
  background-color: white;
  padding: 20px 20px 20px 20px;
  margin: 30px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.sidebar h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  font-size: 14px;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 30px;
}

.user-box {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;

  max-width: 1100px;
  margin: 20px auto;
}

.user-box h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.user-top {
  display: flex;
  gap: 10px;
}

.logout-button {
  padding: 6px 12px;
  font-size: 8px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  margin-top: 7px;
}

.logout-button:hover {
  background-color: #f5f5f5;
}

.deliver {
  display: flex;
  justify-content: center; /*아이콘 가운데 정렬렬*/
  gap: 110px; /* 이미지들 사이 간격 */
}

.deliver img {
  width: 38px;
  height: 80px;
  object-fit: contain; /* 이미지 비율 맞추기 */
}

#deliver_finish {
  color: green;
}

.form-box input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-box button {
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.form-box .warnings {
  font-size: 12px;
  color: red;
  margin-top: 10px;
  line-height: 1.5;
}

/* 회원 정보 수정 */

.form-box {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 1100px;
  margin: 0 auto;
}

.form-box h2 {
  margin-bottom: 30px;
  font-size: 28px;
  text-align: center;
  width: 100%;
}

/* form 안 레이아웃 */
.profile-edit-form {
  width: 100%;
}

/* input 하나하나 묶음 */
.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-row label {
  width: 140px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  margin-right: 10px;
  margin-left: 103px;
}

.input-row input[type="text"],
.input-row input[type="password"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  max-width: 600px;
}

/* 휴대폰 인증 박스 */
.phone-box {
  display: flex;
  gap: 15px;
  flex: 1;
}

.verify-btn {
  padding: 10px;
  background-color: #ffa500; /* 기본 배경 */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  height: 34px;
  width: 80px;
  margin: 2px;
  text-align: center;
  line-height: 17px;
}

.verify-btn:hover {
  background-color: #e09201;
}

/* 약관 */
.terms-box {
  margin-top: 0px;
  font-size: 13px;
  color: #555;
}

.terms-box a {
  color: #007bff;
  text-decoration: none;
  margin-left: 5px;
}

.terms-box a:hover {
  text-decoration: underline;
}

/* 탈퇴/수정 버튼 그룹 */
.button-group {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.withrdraw-btn,
.submit-btn {
  padding: 10px 30px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap; /* 버튼 줄바꿈 방지 */
}

.withrdraw-btn {
  background-color: #dc3545;
  color: white;
}

.withrdraw-btn:hover {
  background-color: #c82333;
}

.submit-btn {
  background-color: #007bff;
  color: white;
}

.submit-btn:hover {
  background-color: #0058b7;
}

/* 배송 주소 관리 */

.description {
  display: block;
  font-size: 13px;
  color: gray;
  margin-top: 20px;
  text-align: left;
  padding-left: 5px;
}

.address-box {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.address-header {
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.badge {
  font-size: 11px;
  color: #6c757d;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
}

.address-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.address-text {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.address-sub {
  font-size: 14px;
  color: gray;
}

.address-adjustment {
  font-size: 14px;
  color: #6c757d;
  text-align: right;
  position: relative;
  top: 24px;
}

.address-label {
  font-size: 13px;
  color: #9acd32;
  font-weight: bold;
}

.add-new-address {
  text-align: center;
}

.add-new-address .submit-btn {
  background-color: #ffa500;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.add-new-address .submit-btn:hover {
  background-color: #e09201;
}

.new_Address_add button {
  background-color: #ffa500;
}
