/* * {
  border: 1px solid;
} */

/* section {
  display: flex;
  margin: 10px;
  height: 500px;
} */

.shop-cart {
  display: flex;
  margin: 20px 15px;
}

.title-wrapper {
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
  position: relative;

  margin: 40px 30px;
}

.all-select {
}
