<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>제품 상세페이지</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- 폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
  <!-- 이모지 -->
  <script src="https://kit.fontawesome.com/b83f799b86.js" crossorigin="anonymous"></script>
  <!-- google icon -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- css -->
  <link rel="stylesheet" href="/static/css/common/common.css">
  <link rel="stylesheet" href="/static/css/pages/details.css">

  <!-- js -->
  <script src="/static/js/by.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div id="header"></div>
  <div class="product-page-wrapper">
    <div class="product-detail-box">
      <!-- 왼쪽 이미지 -->
      <div class="product-image">
        <img
          src="https://product-image.kurly.com/hdims/resize/%5E%3E360x%3E468/cropcenter/360x468/quality/85/src/product/image/4c36b050-06f9-4ce1-9597-27bf4c2563fb.jpg"
          alt="">
      </div>
      <!-- 오른쪽-->
      <div class="product-info-area">
        <span class="product-badge">BEST</span>
        <h1 class="product-title">한돈 부위별 대용량 가성비 7종</h1>

        <div class="product-price-box">
          <strong class="final-price">18,900원</strong>
          <span class="discount-rate">34%</span>
          <del class="original-price">28,900원</del>
        </div>

        <div class="review-box">
          <span class="stars">⭐⭐⭐⭐⭐</span>
          <span class="score">4.9</span>
          <span class="count">(999+개 리뷰)</span>
        </div>

        <p class="sub-desc">
          이 제품을 구매하신 고객 분들은 효능, 경제성, 만족도에 대해 좋은 평가를 주셨습니다!
        </p>

        <div class="coupon-banner">
          <strong><a href="#">로그인</a></strong> 후 쿠폰 최대 할인을 확인하세요!
        </div>

        <div class="benefit-box">
          <p class="gift-title">🎁 증정 혜택</p>
          <p>1개 구매 시 1개 증정 (기간: 4.18 ~ 4.30)</p>
        </div>

        <div class="point-box">💚 뷰티포인트 결제금액의 1% 적립</div>
        <div class="delivery-box">📦 배송비: 무료배송</div>

        <div class="option-box">
          <label>구성 선택</label>
          <select>
            <option>단일 130mL</option>
          </select>
        </div>

        <div class="quantity-box">
          <label>수량</label>
          <input type="number" value="1" min="1">
        </div>

        <div class="summary-box">
          <div>총 수량 <strong>1개</strong></div>
          <div class="total-price">
            <span>합계</span>
            <strong>18,900원</strong>
          </div>
        </div>

        <div class="purchase-btn-box">
          <button class="btn-cart">장바구니</button>
          <button class="btn-buy">바로구매</button>
        </div>

      </div>
    </div>
    <!-- 상세 설명 -->
    <div class="product-description-box">
      <h2>상세정보</h2>
      <p>메뉴 이미지</p>
      <img src="https://img-cf.kurly.com/hdims/resize/%3E1010x/quality/90/src/shop/data/goodsview/20241227/gv10001628427_1.jpg" alt="상세설명 배너">
    </div>
  </div>
</body>

</html>