body>div {
    display: flex;
    justify-content: center;
}

.QBox {
    width: 80vw;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.QBox_title {
    margin-top: 60px;
    font-size: 2.8rem;
    font-weight: bold;
}

.input_box {
    width: 60vw;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
}

.input_box>div {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.option{
    border: 1px solid gray;
    margin-bottom: 30px;
}
.radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    background-color: white;
    color: black;
  }
input[type="radio"]:hover+.radio-label {
    background-color: orange;
    color: white;
    
}